<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{.viewModel.Project.Name}} 信息</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row">
		
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<p>描述: {{.viewModel.Project.Description}}</p>
					</div>
					<div class="col-lg-12">
						<p>源码路径: {{.viewModel.Project.Sourceurl}}</p>
					</div>
					<div class="col-lg-3">
					<div class="input-group">
						<lable class="input-group-addon">最新版本号:</lable>
						<input type="text" disabled="" class="form-control" value="{{.viewModel.Project.Buildnumber}}">
						</div>
					</div>

					<div class="col-lg-3">
						<div class="input-group">
						<lable class="input-group-addon">开发语言:</lable>
						<input type="text" disabled="" class="form-control" value="{{.LanguageType}}">
						</div>
					</div>
					
					<div class="col-lg-3">
						<div class="input-group">
						<lable class="input-group-addon">分支列表:</lable>
						<select class="form-control">
							{{range $branchindex, $branch := .viewModel.Branchs}}
							<option>{{$branch.Branchname}}</option>
							{{end}} 
						</select>
						</div>
					</div>
				<div class="col-lg-12" style="margin-top:15px">
					<a href="/projectenvironment/addoredit?projectid={{.viewModel.Project.Id}}" class="btn-group"><button type="button" class="btn btn-info">添加新环境</button></a>

					<!--<a href="/projectenvironment/addoredit?projectid={{.viewModel.Project.Id}}" class="btn-group"><button type="button" class="btn btn-info">添加新环境</button></a>-->
				</div>
			</div>
		</div>	
	</div>
	{{range $index, $projectenv := .projectenvs}}
	<div class="panel panel-default">
		<div class="panel-body">
			<p style="display:none">环境ID: {{$projectenv.Envid}}</p>
			<p>环境名称: {{$projectenv.EnvName}}</p>
			<p>Rundeck Build Job ID: {{$projectenv.Rundeckbuildjobid}}</p>
			<p>Rundeck Package Job ID: {{$projectenv.Rundeckpackagejobid}}</p>
			<p>最后部署时间: {{$projectenv.Lastexcutiontime}}</p>
			<p>最后部署人: {{$projectenv.Lastexcutionusername}}</p>
			<p>当前环境版本号: </p>
			<p>当前环境分支: </p>
			<p>当前环境Git Hash: </p>
			<p style="display:none">最后执行用户ID: {{$projectenv.Lastexcutionuserid}}</p>
			<p>操作:</p>
			<p><a href="/projectenvironment/addoredit?projectid={{$projectenv.Projectid}}&envid={{$projectenv.Envid}}"><button type="button" class="btn btn-info">编辑</button></a> <a href="/projectenvironment/addoredit?projectid={{$projectenv.Projectid}}&envid={{$projectenv.Envid}}"><button type="button" class="btn btn-info">部署</button></a></p>
		</div>
	</div>
	{{end}}
</div>


</div>