<!-- DataTables JavaScript -->
<script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
            "responsive": true,
            "ordering":  false,
            "lengthChange" : false,
            "searching": false,
            "paging":false,
            "info": false,
            "columnDefs": [
            { "orderable": false, "targets": 4 }
            ]
        });

         $("#updateBranch").click(function (e) {

                //alert($(this).attr('projectid'));

                e.preventDefault();
                $.ajax({
                    url: '/project/updatebranch/?projectid=' + $(this).attr('projectid'),// 跳转到 action
                    type: 'get',
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data.Result > 0) {
                            //$('#deleteModal').modal('hide');
                            location.reload();
                        } else {
                            alert(data.Message);
                        }
                    },
                    error: function () {
                        alert("服务器有点忙，请重试一下！");
                    }
                });
            });
    });
</script>