<!-- DataTables JavaScript -->
<script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
           "responsive": true,
            "ordering":  false,
            "lengthChange" : false,
            "searching": false,
            "paging":false,
            "info": false,
        });
    });
</script>