<div id="page-wrapper">
	<br/>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row">
						<div class="col-lg-10">
							<h4>{{.Title}}</h4>
						</div>
						<div class="col-lg-2">
						<a href="/rundeck/addoredit">
					<button style="margin-top: 5px;" type="button" class="btn btn-sm btn-info">添加Server</button>
				</a>
						</div>
					</div>
				</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<div class="dataTable_wrapper">
						<table id="example" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>Api Url</th>
									<th>Auth Token</th>
									<th>Action</th>
								</tr>
							</thead>

							<tbody>
								{{range $index, $server := .servers}}
								<tr>
									<td>{{$server.Apiurl}}</td>
									<td>{{$server.Authtoken}}</td>
									<td>
										<a href="/rundeck/addoredit?serverid={{$server.Id}}"><button type="button" class="btn btn-sm btn-info">编辑</button></a>
									</td>
								</tr>
								{{end}} 
							</tbody>
						</table>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>