<script type="text/javascript">
	$(document).ready(function() {
		$("#submitenv").click(function(e) {

			var moduleid = $("#moduleid").val();

            var projectid = $("#projectid").val();
            
            var modulename = $("#modulename").val();
            var moduledes = $("#moduledes").val();

            e.preventDefault();
            $.ajax({
                url: '/projectmodule/addapi', // 跳转到 action
                data: {
                	moduleid: moduleid,
                    projectid: projectid,
                    modulename: modulename,
                    moduledes: moduledes,
                },
                type: 'post',
                cache: false,
                dataType: 'json',
                success: function(data) {
                	if (data.Result) {
                		
                		window.location.href = "/project/detail/"+projectid
                		
                	} else {
                		$("#Message").html(data.Message);
                        //view(data.Message);
                    }
                },
                error: function() {
                	alert("异常！");
                }
            });
        });
});
</script>